.Shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.Product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    margin :50px;
}
.btn-process{
    width: 90%;
    height: 56px;
    font-size: 16px;
    margin: 10px auto;
    background: #FF9900;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.process-link{
    text-decoration: none;
}